body{
    margin: 0;
    padding: 0;
    background-color: #3d7edf;
    font-family: sans-serif;
    color: white;
}

.Box{
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      height: auto;
      margin-top: 100px;
}
#search{
    width:280px;
    height: 44px;
    border-radius:5px;
    border: none;
    font-size: 14px;
    padding-left: 20px;
    color: grey;
}
#search:focus
{
    border: none;
    box-shadow: none;
    outline: none;
}
 
.info{
     display: inline-block;
     align-items: center;
     justify-content: center;
     text-align: center;
     width: 100%;
    user-select: none;
}
h1{
    font-size:30px;
    text-transform: capitalize;
}
.date{
    font-size: 15px;
}

h2{
    background-color: #85b6ff;
    display: inline-block;
    padding: 15px 30px;
    margin: 15px;
    border-radius: 5px;
    color:#272727;
    user-select: none;
    cursor: cell;
    
}
.clear{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 10px;
    user-select: none;
}
.error{
    text-align: center;
}
.min{
    color: #272727;
    font-size: 13px;
    font-weight: 400;
}

i{
    color: white;
}
